extends layout
include mixins/prompt-install

block content
    if isZoom
        .is-hidden#main
            h1.title.has-text-centered.is-size-5-mobile.pb-6 MindShare
            h2.subtitle.has-text-centered#helpMsg Start a meeting
            .columns
                .column
                    include includes/controls
            .columns
                .column
                    include includes/host-controls

        canvas#uiCanvas        
        img#logo(src='/img/zoom.png')
        h1.title Digital Twin 
        
        div#chatContainer
            div#assistantData(style="height: 600px; overflow-y: auto; border: 1px solid #ccc; padding: 10px;")
                // Messages will appear here
            input#userInput(type="text" placeholder="Type your message..." style="width: 80%;")
            button#sendButton Send
            div#loadingIndicator(style="display: none;") Loading...


    else
        +prompt-install(title, installURL)

append scripts
    if isZoom
        script(type="module" src='/js/bundle.mjs')
        script(nomodule src='/js/bundle.js')
